

.create-form {
    width: 90%;
    margin: 0 auto;
   
}

.text-area {
    border: 1px solid #7ac8bc;
}

.select-category-dropdown {
    padding: 1em;
    background-color: #7ac8bc;
    color: white;
}

.select-category-dropdown > input {
    margin: .5em;

}

.container {
    background-color: #7ac8bc;
}

p {
    text-align: center;
    color: var(--bright-pink);
}

 a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--bright-pink);
}

.footer {
    width: 100%;
}

.dropdown-area {
    
}