    .container {
        background-color: #7ac8bc;
    }
    
    .container span {
        background-color: #7ac8bc;
        border-top: 1px solid #E7E7E7;
        text-align: center;
        padding: 20px;
        position: fixed;
        left: 0;
        bottom: 0;
        height: 60px;
        width: 100%;
    }
